<template>
  <div>
      <h1>Bookings</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Car Type</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="booking in bookings" :key="booking.id">
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.email }}</td>
                    <td>{{ booking.type }}</td>
                    <td>{{ booking.status }}</td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
  export default {
      data() {
        return {
          bookings: []
        }
      },
      created() {
        let uri = 'http://localhost:8000/api/bookings';
        setInterval(function () {
          this.axios.get(uri).then(response => {
                this.bookings = response.data;
            });
        }.bind(this), 5000);
    }
  }
</script>